/Segundo/Procesos/ordenarNumeros/nbproject/private/
/Segundo/Procesos/ordenarNumeros/build/
/Segundo/Procesos/aleatorios/nbproject/private/
/Segundo/Procesos/aleatorios/build/
/Segundo/Procesos/aleatorios/dist/
/Segundo/Procesos/ordenarNumeros/dist/
/Segundo/Procesos/lenguaje/nbproject/private/
/Segundo/Procesos/colaborar/nbproject/private/
/Segundo/Procesos/lenguaje/build/
/Segundo/Procesos/lenguaje/dist/
/Segundo/Procesos/colaborar/build/
/Segundo/Procesos/colaborar/dist/
