#contenedor{width:50%;
            margin:auto;
           background:silver;}

#scooby{position:relative;


         }

#lassie{position:relative;



         }

#dartacan{position:absolute;
            
         
         }